<script setup lang="ts">
import type { MovieType } from '../services/MoviesSerivice';
import { downloadFile } from '../services/MoviesSerivice';

defineProps<{
  movie: MovieType
}>()

const downloadCachedFile = async (fileUrl: string, originalUrl: string) => {
  const blob = await downloadFile(fileUrl)
  const url = window.URL.createObjectURL(new Blob([blob]))
  const link = document.createElement('a')
  link.href = url
  const split = originalUrl.split("/")
  link.setAttribute('download', split[split.length - 1])
  document.body.appendChild(link)
  link.click()
}

</script>

<template>
  <div v-for="key in Object.keys(movie)" :key="key" style="margin-top: 10px;">
    <div v-if="key.includes('Image')">
      <div class="label">{{ key }}:</div>
      <div v-for="item in (<any>movie)[key]" :key="item.url" style="margin-top: 10px;">
        <a :href="item.url">{{ item.url }}</a>
        <v-btn style="margin-left: 15px" v-if="item.cacheImageUrl" @click="downloadCachedFile(item.cacheImageUrl, item.url)">
          Download Cached HERE
        </v-btn>
      </div>
    </div>
    <div v-else-if="(<any>movie)[key]">
      <div class="label">{{ key }}:</div>
      <div class="value">{{ (<any>movie)[key] }}</div>
    </div>
  </div>
</template>

<style>
.label {
  text-transform: bold;
  font-weight: bold;
}
</style>