<script setup lang="ts">
import { onMounted, watch, ref } from 'vue'
import type { Ref } from 'vue'
import { fold } from 'fp-ts/Either'

import * as MovieService from '../services/MoviesSerivice'
import type { PagedResponseType, MovieType } from '../services/MoviesSerivice'
import ExpandedMovieComponent from './ExpandedMovieComponent.vue'

const currentMoviePage: Ref<MovieType[]> = ref([])
const pageNumber = ref(1)
const totalCount = ref(1)
const itemsPerPage = ref(20)
const selectedMovie: Ref<null | MovieType> = ref(null)

watch(pageNumber, async () => {
  await changePage()
})

const changePage = async () => {
  const res = await MovieService.getAllMovies(itemsPerPage.value, pageNumber.value)
  fold(
    (err) => {
      console.error(err)
    },
    (res: PagedResponseType<MovieType>) => {
      currentMoviePage.value = res.data
      totalCount.value = res.totalCount
      itemsPerPage.value = res.pageSize
      pageNumber.value = res.pageIndex
    }
  )(res)
}

onMounted(async () => {
  await changePage()
})
</script>

<template>
  <v-card>
    <v-layout>
      <v-navigation-drawer style="width: 22%; max-width: 450px">
        <v-table>
          <tbody>
            <tr v-for="item in currentMoviePage" :key="item.id">
              <td
                style="text-align: center"
                @click="
                  () => {
                    selectedMovie = selectedMovie?.id === item.id ? null : item
                  }
                "
              >
                {{ item.headline }}
              </td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
          v-model="pageNumber"
          :length="Math.ceil(totalCount / itemsPerPage)"
          :total-visible="
            Math.ceil(totalCount / itemsPerPage) > 5 ? 5 : Math.ceil(totalCount / itemsPerPage)
          "
          rounded="circle"
        >
        </v-pagination>
      </v-navigation-drawer>

      <v-main>
        <expanded-movie-component v-if="selectedMovie != null" :movie="selectedMovie">
        </expanded-movie-component>
      </v-main>
    </v-layout>
  </v-card>
</template>
